# PostgreSQL 
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

# JWT
JWT_SECRET=change_this_to_real_secret

# App
NODE_ENV=production
PORT=4000